# Ignore node_modules directory
node_modules

# Ignore logs and temp files
*.log
tmp/
*.tmp

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore Git files
.git
.gitignore

# Ignore environment variable files
.env

# Ignore build artifacts
dist/
build/
